---
layout: layouts/article.njk
pagination:
    data: articles
    size: 1
    alias: article
permalink: "{{ article.name }}/"
tags: article
---
<p class='meme'> ┬─┬ノ( º _ ºノ) </p>
{{ article.text | safe }}