---
tags: chapters
layout: layouts/base.njk
pagination:
    data: chapters
    size: 1
    alias: chapter
permalink: "{{ chapter.name | slug }}/"
---
<ul>
    {% for article in chapter.articlesId %}
        <li>
            <strong>
                <a href="../{{ article | url }}">{{ article }}</a>
            </strong>
        </li>
    {% endfor %}
</ul>
