---
layout: layouts/base.njk
permalink: /
---
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
Halloj, Denna text kommer ifrån Index.njk filen
Detta är en ny rad, coolt!