---
layout: layouts/base.njk
permalink: /
data: chapters
---
<h3>-- Chapters --</h3>

<ul>
    {%- for chapter in chapters -%}
        <li>
            <h4> <a href="{{ chapter.name }}"> {{ chapter.name }} - {{chapter.title}}</a> </h4>
            {%- for article in chapter.articles -%}
            <li> <a href="{{ article.artName }}">{{ article.artName }} - {{ article.artTitle }}</a> </li>
            {%- endfor -%}
        </li>
    {%- endfor -%}
</ul>