---
layout: layouts/base.njk
permalink: /
data: chapters
---

<p class='ChapterTitle'> ~~ Chapters ~~</p>

<ul>
    {%- for chapter in chapters -%}
        <li>
            <p class='ChapterTitle'> <a href="{{ chapter.id }}">{{ chapter.id }} - {{chapter.title}}</a></p>
            {%- for section in chapter.sections -%}
                <p class='sectionTitle'>{{ section.title }}</p>
                {%- for article in section.articles -%}
                    <p class='li Point1'><a href="article-{{ article.id }}">{{ article.id }} - {{ article.name }}</a> </p>
                {%- endfor -%}
            {%- endfor -%}
        </li>
    {%- endfor -%}
</ul>