---
layout: layouts/base.njk
permalink: /recitals/
data: recitals
---
<p class='ChapterTitle'> ~~ Recitals ~~ </p>

<ul>
    {%- for recital in recitals -%}
        <a href="../recital-{{ recital.id }}"> Link to recital-{{ recital.id }} </a>
        {{ recital.text | safe }}

    {%- endfor -%}
</ul>