<h2>-- Chapters --</a>
<ul>
    {% for chapter in chapters %}
        <li>
            <strong>
                <a href="{{ chapter.url | url }}">{{ chapter.data.title }}</a>
            </strong>
            <span>
                {{ chapter.data.description }}
            </span>
        </li>
    {% endfor %}
</ul>